*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100%;
}

.form-popup {
    display: none;
    width: 10%;
    left: 45%;
    position: absolute;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.header{
  padding-top: 50px;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal-body{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#box{
  display: flex;
  gap: 5px;
  justify-content: center;
}

.modal-title{
  display: flex;
  justify-content: center;
}

#library{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: flex-start;
  align-items: flex-start;
}

#lib-title{
  font-size: 50px;
}

#myBtn{
  width: 100px;
  height: 35px;
  background-color: cadetblue;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0;
  font-size: 20px;
  border: 1px solid black;
  
}

input{
  padding: 5px;
}

#myModal{
  margin-top: 100px;
}